p 
{
    color: #000000;
    font-family: Verdana;
    font-size: 12px;
    display: inline;
    margin-left: 4px ;
    margin-right: 4px ;
}

.video_duration
{
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

.video_time
{
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}